.navigation {
   /* position: relative;*/
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 0.5rem 0rem;
    background-color:  #597491;
    color: black;
    z-index: 2;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    position: fixed;
  /*   width: 100%;
    padding-left: 280px;
    z-index: 2;
    background-color: #597491;
    top: 0;
    transition: ease all 0.3s;
    left: 0; */
  }
  
  .brand-name {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin-left: 1rem;
  }
  
  .navigation-menu {
    margin-left: auto;
  }
  
  .navigation-menu ul {
    display: flex;
    padding: 0;
  }
  
  .navigation-menu li {
    list-style-type: none;
    margin: 0 1rem;
  }
  
  .navigation-menu li a {
    /* text-decoration: none; */
    display: block;
    width: 100%;
 font-family: 'fontawesome';
    color: #fff;
    top: 13px;
    right: 28px;
   /*  display: block;
    position: absolute;
    transform: translateY(-50%);
    content: "\f107";
   
    border: none; */
    font-size: 20px;
  }
  
  .hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }
  
  .hamburger:hover {
    background-color: #2642af;
  }
  
  @media screen and (max-width: 550px) {
    .hamburger {
      display: block;
    }
  
    .navigation-menu ul {
      flex-direction: column !important;
      position: absolute;
      z-index: 1;
      top: 60px;
      left: 0;
      width: 100%;
      height: auto;
      background-color: white;
      border-top: 1px solid black;
      display: none;
    }
  
    .navigation-menu li {
      text-align: center;
      margin: 0;
    }
  
    .navigation-menu li a {
      color: black!important;
      width: 100%;
      padding: 1.5rem 0;
      position: relative !important;
    }
  
    .navigation-menu li:hover {
      background-color: #eee;
    }
  
    .navigation-menu.expanded ul {
      display: block;
    }
  }
  